@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

h2{
    color: #800080;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 40px;
}
h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    color: #ff8232; 
}
form{
    display: flex;
    justify-content: center;
}
input{
    margin:15px;
    border-radius: 7px;
}
button{
   display: flex;
   flex-flow: column;
   margin-top: auto;
   border-radius: 10px;
   margin-left: 30px;
   background-color: #a55ea7;
   color: white;
   cursor: pointer;
}